.home {
  align-self: center;
   
}
.btn{
 margin-left: 50%;
 text-align: center;
 min-width: 70px;
 max-width: 70px;

}
.btn2{
margin-left: auto;
margin-right: auto;
padding-left: 0px;
}

.buttons {
  width: auto;
  margin: 0 auto;
  display: inline;
  margin-left: 50%;
  margin-right: auto;
}
  
  .action_btn {
  width: auto;
  margin: 0 auto;
  display: inline;
}
.example-form {
  min-width: auto;
  max-width: auto;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card {
  max-width: auto;
  background-color: sienna;
}

.example-header-image {
  padding: auto;
  background-size: cover;
}
.direction{
  padding-left: 50%;
  font-weight: bold;
}
.xyz{
  padding-left: 35%;
  
}